@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #323031;
    --background-lighter: #494647;
    --foreground: #D8E9D9;
    --primary: #50723C;
    --secondary: #B88B4A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
}

.panel {
  background-color: var(--background-lighter);
  margin: 5px;
  border: 10px solid var(--background-lighter);
  border-radius: 5px;
}

.title {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 600;
  font-size: 125%;
}

.bottomPanel {
  margin-bottom: 0px;
  border-radius: 5px 5px 0 0;
  border-bottom: 0px;
}

.remChatMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.remChat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0; 
  flex-basis: auto;
  height: 100%;
}

.userMsg {
  align-self: flex-end;
  background-color: var(--primary);
  border-color: var(--primary);
}

.assistantMsg {
  align-self: flex-start;
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.userMsg, .assistantMsg {
  border-radius: 12px;
  border-width: 8px;
  margin: 2px;
  padding: 3px;
}

.msgHovered {
  border-color: white;
}

.shortTermRecalled {
  border-color: green;
}

.longTermRecalled {
  border-color: blue;
}
