@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #323031;
    --background-lighter: #494647;
    --foreground: #D8E9D9;
    --primary: #50723C;
    --primary-hovered: #71a055;
    --secondary: #B88B4A;
    --secondary-unfocused: #8f6b38;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
}

.pageMaster {
  display: grid;
  height: 100vh;
  width: 100vw;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  grid-template-rows: 50px 1fr;
  grid-template-columns: 300px 1fr;
  border: 2x dashed purple;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel {
  background-color: var(--background-lighter);
  margin: 5px;
  border: 10px solid var(--background-lighter);
  border-radius: 5px;
}

.title {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 600;
  font-size: 125%;
}

.bottomPanel {
  margin-bottom: 0px;
  border-radius: 5px 5px 0 0;
  border-bottom: 0px;
}

.remChat {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* height: 100%; */
}

.remChatMessagesContainer {
  flex-grow: 1;
  height: 69px; /* god knows why this fixed everything */
  overflow-y: scroll;
}

.remChatMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.convConfigOverview {
  align-self: center;
}

.msgInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
  height: 50px
}

.msgTextInput {
  flex-grow: 1;
}

button {
  border: 2px solid var(--secondary-unfocused);
  padding: 2px;
  border-radius: 5px;
}

button:hover {
  border-color: var(--secondary)
}

.userMsg {
  align-self: flex-end;
  background-color: var(--primary);
  border-color: var(--primary);
}

.assistantMsg {
  align-self: flex-start;
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.userMsg, .assistantMsg {
  border-radius: 12px;
  border-width: 8px;
  margin: 2px;
  padding: 3px;
  word-break: break-all;
}

.msgHovered {
  border-color: white;
}

.shortTermRecalled {
  border-color: green;
}

.longTermRecalled {
  border-color: blue;
}

.verticalDivider {
  width: 90%;
  align-self: center;
  height: 2px;
  background-color: var(--background);
  margin: 10px;
}

.conversations {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

.conversationList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conversationList input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.conversationList label {
  display: block;
  width: 98%;
  align-self: center;
  padding: 3px;
  margin: 3px;
  border: 2px solid var(--background);
  border-radius: 10px;
  background-color: var(--secondary-unfocused);
}

.conversationList label:hover {
  background-color: var(--secondary);
}

.conversationList input[type="radio"]:checked + label {
  background-color: var(--primary);
}

.conversationList input[type="radio"]:checked + label:hover {
  background-color: var(--primary-hovered);
}

.conversationList 

.apiKeySettings {
  display: flex;
  gap: 5px;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

/* track */
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: var(--secondary);
  border-radius: 4px;
}

/* thumb */
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: var(--primary);
  border: 1px var(--foreground) solid;
  border-radius: 50%;
}

/* necessary for vertical centering */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=text] {
  outline: none !important;
  appearance: none;
  border: 2px solid var(--secondary-unfocused);
  border-radius: 5px;
  padding: 2px 6px;
  /* margin: 2px 5px; */
}

input[type=text]:focus {
  border-color: var(--secondary);
}

