@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #516d74;
    --secondary: #999999;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.remChatMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.remChat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0; 
  flex-basis: auto;
  background-color: darkgrey;
  height: 100%;
}

.userMsg {
  align-self: flex-end;
  background-color: var(--primary);
  border-color: var(--primary);
}

.assistantMsg {
  align-self: flex-start;
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.userMsg, .assistantMsg {
  border-radius: 7px;
  border-width: 2px;
  margin: 2px;
  padding: 3px;
}

.msgHovered {
  border-color: white;
}

.shortTermRecalled {
  border-color: green;
}

.longTermRecalled {
  border-color: blue;
}
